:root {                         /* <--- Declarar variables en CSS */
    --White_smoke: #f5f5f5;
    --Night: #141414;
    --Jet_gray: #333333;
    --Ash_gray: #BCC8BF;
    --Platinum: #E0E0E0;
    --fuentePcpal: font-family: 'Manrope', sans-serif;
    font-family: 'Montserrat', sans-serif;
}
html {
    font-size: 62.5%;           /* <--- 1rem = 10px */
    box-sizing: border-box;     /* <--- Elimina Box Model */
    scroll-snap-type: y proximity;

    

}

*, *::before, *::after {        /* <--- Elimina Box Model */
    box-sizing: inherit;
}
h1 {
    font-size: 6rem;
}

h2 {
    font-size: 3.2rem;
    margin: 0;
    font-weight: bolder;
}

h3 {
    font-size: 2.4rem;
    font-weight: lighter;
    
}
a {
    text-decoration: none;
}
a:visited { 
    text-decoration: none; 
}
a:hover { 
    text-decoration: none; 
}
a:focus { 
    text-decoration: none; 
}
a:hover, a:active { 
    text-decoration: none; 
}
img {

    max-width: 100%;
    height: auto;
}
.parallax_container{
    width: 100%;
    height: 100vh;
    perspective: 8px;
    overflow-x: hidden;
    overflow-y: scroll;
    position: relative;

}
header {

    position: sticky;
    top: 0;
    display: flex;
    flex-direction: column 2,1;
    align-items: center;
    justify-content: space-between;
    padding: 0;
    width: 100vw;

    background: linear-gradient(
        to right,
        var(--White_smoke) 0%,
        var(--White_smoke) 50%,
        var(--Night) 50%,
        var(--Night) 100%
    );
    transition: background 0.4 ease-in-out;
}
.scrolled{
    z-index: 1000;
    background: var(--White_smoke);
}
.scrolled .nav_bar a{
    color: var(--Night);
}
.scrolled .nav_bar a:hover{
    color: var(--Ash_gray);
}

@media (max-width: 970px) {
    header {
        background: var(--White_smoke);
        
    }
    .nav_bar a{
        color: var(--Night);
    }
    .bamboo{
        opacity: 0%;
    }


}
.image {
    position: absolute;
}


.bamboo{
    width: 100%;
    height: 100%;
    transform: translateZ(4px) scale(0.5);
    transform-origin: 50%;  
    right: 15%;
    bottom: 16%;
}
@media (max-width: 1374px) {
    .bamboo{
        right: 23%;
    }
}
.logo {
    max-width: 17rem;
    max-height: 17rem;
    align-items: start;
}
.nav_bar {
    display: flex;
    flex-direction: row; 
    
}
.nav_bar ul {
    display: flex;
    list-style-type: none;
    padding: 0;
    
}
.nav_bar li {
    justify-content: space-between;
    padding: 2rem;
}
.nav_btn{
    font-size: 1.8rem;
    font-weight: bold;
    color: var(--White_smoke);
    transition: text-decoration ,color    ease-in 1s;
    background: none;
}

.nav_btn:hover{
    text-decoration: underline;
    color: var(--Ash_gray);
    transform-origin: left;

}
.nav_bar::after{
    text-decoration: underline;
    color: var(--Ash_gray);

}

.header_page{
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(
        to right,
        var(--White_smoke) 0%,
        var(--White_smoke) 50%,
        var(--Night) 50%,
        var(--Night) 100%
    );
}

.introduction_space{
    width: 60vw;
}
.introduction__text {
    display: flex;
    align-items: right;
    justify-content:space-evenly;
}
.introduction__text h1{
    color: var(--White_smoke)   ;
}
.wrapper {
    display: inline-flex;
    margin-bottom: 6rem;
}
.wrapper .icon {
    margin: 0 20px;
    cursor: pointer;
    transition: all 0.4s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.wrapper a{
    text-decoration: none;
    color: var(--Night);
    }
.wrapper a:visited { 
    text-decoration: none;
    color: var(--Night); 
    }
.wrapper a:hover { 
    text-decoration: none;
    color: var(--White_smoke); 
    }
.wrapper .icon span{
    height: 6rem;
    width: 6rem;
    display: block;
    background: var(--White_smoke);
    text-align: center;
    border-radius: 50%;
    box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);

}
.wrapper .icon span i{
    font-size: 2.5rem;
    line-height: 6rem;
}
.wrapper .icon:hover span i{
    color: var(--White_smoke);
}
.wrapper .github:hover span{
    background-color: var(--Jet_gray);
}
.wrapper .linkedin:hover span{
    background-color: rgba(63, 136, 231, 0.87);
}
.wrapper .instagram:hover span{
    background-color: salmon;
}
.wrapper .twitter:hover span{
    background-color: rgba(63, 136, 231, 0.87);
}

.contact__btn {
    
    border-radius: 4px;
    background-color: var(--Ash_gray);
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 200px;
    transition: ease-in 1s;
    cursor: pointer;
    
    
}   
.contact__btn a{
    color: var(--White_smoke)   ;
}
.contact__btn:hover{
    background-color: var(--Jet_gray);
}
@media (max-width: 970px) {
    .image, .bamboo{
        display: none;
    }
    .header_page{
        background: var(--Night);
    }
    .introduction_space{
        width: 10vw;
    }
    .contact__btn {
        margin: auto auto;
        justify-content: center ;
    }
    .header_page{
        display: flex;
        justify-content: space-around;
    }
    .wrapper{
        display: flex;
        justify-content: space-around;
    }
    .introduction_space{
        display: none;
    }
    


}
.about_me{
    background: linear-gradient(
        to right,
        var(--Night) 0%,
        var(--Night) 50%,
        var(--White_smoke) 50%,
        var(--White_smoke) 100%
    );
    padding-top: 7rem;
    height: 90vh;
    display: flex;
    flex-direction: column 2,1;
    width: 100vw;

    
}
.about_me__text h2{
    color: var(--White_smoke);
    width: 50%;
    
}
.about_me__text{
    padding: 4rem;
}
.about_me__space{
    width: 60%vw
}
.about_me h3{
    color: whitesmoke;
    word-wrap: break-word;
    width: 40vw;

}
.about_me__picture{
    position: absolute;
    display: flex;
    width: 30rem;
    height: 30rem;
    background: url(./images/profile_pic.png);
    background-position: 50% 50%;
    background-size: cover;
    border-radius: 50%;
    right: 14%;
    border-color: #141414;
    border-style: solid;
    box-shadow: 5px 5px 10px 2px rgba(0,0,0,.8);
    top: 127%;
}
.leaves{
    position: absolute;
    width: 100%;
    height: 100%;
    transform-origin: 50%;  

}

.one{
    bottom: 35%;
    left: 110%;
    rotate: 290deg;
    transform: translateZ(4px) scale(0.5);
    transform-origin: 50%; 
}
.two{
    bottom: 55%;
    rotate: 145deg;
    right: 100%;
    transform: translateZ(4px) scale(0.5);
    transform-origin: 50%; 
}
.three{
    rotate: 100deg;
    right: 100%;
    top: 100%;
    transform: translateZ(4px) scale(0.5);
    transform-origin: 50%; 
}
.four{
    rotate: 320deg;
    left: 110%;
    top: 110%;
    transform: translateZ(4px) scale(0.5);
    transform-origin: 50%; 
}

@media (max-width: 970px) {
    .about_me{
        background: var(--White_smoke);
    }
    .about_me__text h2{
        color: var(--Night);
    }
    .about_me__text h3{
        color: var(--Night);
    }
    .leaves{
        display: none;
    }
    .introduction{
        width: 100vw;
    }
    .wrapper{
        justify-content: center;
    }
    }
    @media (max-width: 850px) {
    .about_me{
        flex-direction: column 1,2;
    }
    .about_me__text{
        order: 2;
        width: 100vw;
    }
    .about_me__text h3{
        width: 90vw;
    }
    .about_me__space{
        display: none;
    }
    
    html {
        background-color: var(--White_smoke);
    }
    .header_page{
        position: relative;
    }
    .wave {
        position: absolute;
        bottom: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
        transform: rotate(180deg);
    }
    
    .wave svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 140px;
        transform: rotateY(180deg);
    }
    
    .wave{
        fill: var(--White_smoke);
    }
    .showcase{
        position: relative;
    }
    .wave_showcase {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        overflow: hidden;
        line-height: 0;
    }
    
    .wave_showcase svg {
        position: relative;
        display: block;
        width: calc(135% + 1.3px);
        height: 140px;
    }
    
    .wave_showcase .shape-fill {
        fill: var(--White_smoke);
    }
    }


.showcase{
    padding: 4rem;
    height: 100vh;
    width: 100vw;
    display: flex;
    background: linear-gradient(
        to right,
        var(--White_smoke) 0%,
        var(--White_smoke) 50%,
        var(--Night) 50%,
        var(--Night) 100%
    );
    padding-top: 15rem;
}
.split_screen{
    max-width: 100vw;
    display: flex;
    flex-direction: column 2,1;
}
.showcase__skills {
    max-width: 50vw;
    width: 50vw;
}
.showcase__projects{
    width: 50vw;
}
.skills {
    display: grid;
    max-width: 50vw;
    grid-template-columns: auto auto auto;
    gap: 1rem;
    width: 50vw;

}
.showcase h4{
    color: var(--White_smoke);
    background-color: var(--Jet_gray);
    padding: 1rem;
    text-align: center;
    border-radius: 5%;
    font-size: 2rem;
    margin: 4rem;
    margin-left: 0;
    width: 15rem;
}
.showcase__projects h2{
    color: var(--White_smoke);
}

@media (max-width: 970px) {
    .showcase{
        background: var(--Night);
    }
    .showcase h2{
        color: var(--White_smoke);
    }
    .split_screen {
        display: inline;
    }
}
.cards {
    padding-right: 2rem;
    margin-left: 0;
    padding-left: 0;
    display: flex;
    gap: 5rem;
    justify-content: space-around;
}
.card{
    box-shadow: 2px 2px 5px 2px var(--Ash_gray);
    border-radius: 5%;
    padding: 0;
    background-color: var(--White_smoke);
    margin-top: 4rem;
    width: 40rem;   
}
.card img{
    border-radius: 5%;
    opacity: 90%;
    border-bottom-style:groove;
}
.card img:hover{
    opacity: 60%;
}

.card_text_container{
    margin: 0;
    padding: 0.6rem;
}
.card_text_container h5 {
    margin-top: 0.6rem;
    font-size: 2rem;
    font-weight: bolder;
}
.card_text_container p {
    font-size: 1.4rem;
}
.second{
    margin-right: 5rem;
}
.second img{
    background-size: cover;
    border-radius: 5%;
}
footer{
    background: var(--Jet_gray);
    height: 60vh;
    width: 100vw;
}
.form_container {
    padding-left: 3rem;
    background: var(--Jet_gray);
    max-width: 100vw;
    width: 100vw;
    display: flex;
}
form{
    display: flex;
    flex-direction: column;
    padding: 2rem;
    width: 40vw;
}
form h3{
    color: var(--White_smoke);
}
form input,textarea {
    border: 0;
    margin: 1rem 0;
    padding: 2rem;
    outline: none;
    background-color: var(--White_smoke);
    font-size: 1.6rem;
    font-family: var(--fuentePcpal);
    width: 100%;
}
form button{
    border-radius: 4px;
    background-color: var(--Ash_gray);
    border: none;
    text-align: center;
    font-size: 28px;
    padding: 20px;
    width: 100%;
    transition: ease-in 1s;
    cursor: pointer;
    color: var(--White_smoke);
    text-align: center;
}
form button:hover{
    background-color: var(--Night);
}
.nav_footer{
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wr_footer{
    display: flex;
    width: 60vw;
    align-items: center;
    justify-content: center;
    height: 15vw;
    padding: 0;
    margin-bottom: 0;
}
#download_resume_btn{
    height: 10rem;
    width: 30rem;
}
#download_resume_btn:hover{
    background-color: var(--Night);
}
#nav_end{
    margin-top: 10rem;
}
body{
    overflow-x: hidden;
    font-family: var(--fuentePcpal);
    height: 100vh;
    margin: 0;

}
